body{
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
}
img{
    margin-top: 0;
      width: 400px;
      margin-bottom: 0;
}
input {
    margin-top: 0;
      width: 500px;
      padding: 8px 10px;
      border-radius: 25px;
      border: 1px solid #ddd;
      outline: none;
      font-size: 1rem;
    }
.buttons {
      margin-top: 20px;
    }
button {
      margin: 5px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background: #f8f9fa;
      font-size: 0.9rem;
    }
button:hover {
      background: #e4e6e9;
    }